.navbar a {
    color:rgb(138, 138, 138); 
}

.navbar a:hover {
    color: rgb(255, 255, 255);
}

.wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    grid-auto-rows: minmax(100px, auto);
    padding-left: 10px;
    padding-right: 10px;
  }

.projects {
    grid-column: 1 / 2;
    grid-row: 1;
    background-color: lightblue;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    padding-left: 10px;
    padding-right: 10px;
  }
.projects:hover {
    background-color: aquamarine;
}
.pacmen {
    grid-column: 2 / 4;
    grid-row: 1 / 3;
    background-color: rgb(28, 165, 28);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    padding-left: 10px;
    padding-right: 10px;
  }
.pacmen:hover {
    background-color: rgb(140, 212, 32);
}
.eye {
    grid-column: 1;
    grid-row: 2 / 5;
    background-color: orangered;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    padding-left: 10px;
    padding-right: 10px;
  }
.eye:hover {
    background-color: orange;
}
.bus {
    grid-column: 2 / 4;
    grid-row: 3 / 5;
    background-color: sandybrown;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    padding-left: 10px;
    padding-right: 10px;
  }
.bus:hover {
    background-color: peachpuff;
}

.toptext {
    text-align: center;
    color: white;
}

.thanks {
    text-align: center;
    padding-top: 50px;
    color: white;
    font-size: xx-large;
}

.projtext {
    color:rgb(45, 45, 45);
}

.projimg {
    border-color: black;
    border-style: ridge;
    height: 100px;
}